body
{
	background-color: aqua;
}



table, th, td {
		border:1px solid black;
}

#main
	{float: center
		;

	}

iframe
{
	background-color:black;
}

iframe
{	width:100%;
}


#main
{
	float:center;
}

#tables
{
	float: center;
 direction: ltr;
}

tables
{
	width:100%;
	height:70%;
}
