td {
border: 0.5px solid black;
height: 70px;
width: 70px;
align: center;
}

.tictactable
	{margin: auto;
		width: 60%;
		padding: 0;
	}

.tictactable
{
	float:center;
	border: none;
}

td
{
	padding:0;
}

.jsbutton
	{
		margin-left:100px;
		margin-right:100px;
		margin-bottom: auto;
	}
